
footer{
	text-align: center;
}
.gear div:first-of-type, .gear div:last-of-type {
	background-color: #FAF9F7;
}	

@media only screen and (max-width: 760px) {
	.img-responsive {
		width: 70%;
		height: auto;
	}
	.carousel-inner {
		margin-top: 50px;
	}
	.carousel-item img {
		height: 200px;
	}
}